GRAMPS/Ahnenblatt/gedml.dtd

<!-- GedML.dtd                                                                                          -->
<!-- Author M.H.Kay (mhkay@iclweb.com)                                                                  -->
<!-- Version 9 Jun 1998                                                                                 -->
<!-- An XML DTD for representing the information model of GEDCOM 5.5                                    -->
<!--                                                                                                    -->
<!-- Note: this DTD does not impose all the constraints in the GEDCOM 5.5 standard                      -->
<!--                                                                                                    -->


<!-- Macros ("parameter entities") -->


<!ENTITY % ldsordinance "( #PCDATA | STAT | DATE | TEMP | PLAC 
             | SOUR | NOTE | FAMC | VENDOR )*" >

<!ENTITY % text " #PCDATA | BR | CC " >


<!-- Top level element: GED -->

<!ELEMENT GED ( HEAD, (SUBMITTER)? , ( INDI | FAM | OBJECT | NOTE | REPOSIT | SOURCE | SUBMISSION | VENDOR )* ) >

<!-- Records -->

<!-- Header record -->

<!-- SOURCE added to circumvent the SOUR issue -->
<!ELEMENT HEAD ( SOUR | SOURCE | DEST | DATE | SUBM | SUBN | FILE | COPR |
                 GEDC | CHAR | LANG | PLAC | NOTE | VENDOR )* >

<!--Submission record -->

<!ELEMENT SUBMISSION ( #PCDATA | SUBM | FAMF | TEMP | ANCE | DESC | ORDI | RIN | VENDOR )* >
<!ATTLIST SUBMISSION ID ID #IMPLIED >

<!--Individual record -->

<!ELEMENT INDI ( RESN | NAME | SEX | 
   EVEN | BAPL | CONL | ENDL | SLGC | FAMC | FAMS | SUBM | ASSO | ALIA
 | ANCI | DESI | SOUR | OBJE | NOTE | RFN | AFN | REFN | RIN | CHAN | VENDOR )* >
<!ATTLIST INDI ID ID #REQUIRED >

<!-- Family record -->

<!ELEMENT FAM ( EVEN | HUSB | WIFE | CHIL | NCHI | SUBM | SLGS
 | SOUR | OBJE | NOTE | REFN | RIN | CHAN | VENDOR )* >
<!ATTLIST FAM ID ID #REQUIRED >

<!-- Multimedia record -->

<!ELEMENT OBJECT ( #PCDATA | FORM | TITL | FILE | NOTE | SOUR | BLOB | OBJE
 | REFN | RIN | CHAN | VENDOR )* >
<!ATTLIST OBJECT ID ID #IMPLIED >

<!-- Note record -->

<!ELEMENT NOTE ( %text; | SOUR | REFN | RIN | CHAN | VENDOR )* >
<!ATTLIST NOTE ID ID #IMPLIED >

<!-- Repository record -->

<!ELEMENT REPOSIT ( #PCDATA | NAME | ADDR | PHON | NOTE | REFN | RIN | CHAN | CALN | VENDOR )* >
<!ATTLIST REPOSIT ID ID #IMPLIED >

<!-- Source record -->

<!ELEMENT SOURCE ( #PCDATA | VERS | CORP | PAGE | EVEN | DATA | QUAY | NOTE
    | OBJE | AUTH | TITL | ABBR | PUBL | TEXT | REPO | REFN | RIN | CHAN | VENDOR )* >
<!ATTLIST SOURCE ID ID #IMPLIED >

<!-- Submitter record -->

<!ELEMENT SUBMITTER ( #PCDATA | NAME | ADDR | PHON | OBJE | LANG | RFN | RIN | CHAN | VENDOR )* >
<!ATTLIST SUBMITTER ID ID #IMPLIED >


<!-- Substructures -->

<!-- Abbreviation -->
<!ELEMENT ABBR ( #PCDATA | VENDOR )* >
 
<!-- Address -->
<!ELEMENT ADDR ( %text; | ADR1 | ADR2 | CITY | STAE | POST | CTRY | VENDOR )* >

<!-- First, second line of an address -->
<!ELEMENT ADR1 ( #PCDATA | VENDOR )* >
<!ELEMENT ADR2 ( #PCDATA | VENDOR )* >

<!-- Permanent Record File Number in Ancestral File -->
<!ELEMENT AFN  ( #PCDATA | VENDOR )* >

<!-- Age at time of event -->
<!ELEMENT AGE  ( #PCDATA | VENDOR )* >

<!-- Agency -->
<!ELEMENT AGNC ( #PCDATA | VENDOR )* >

<!-- Alias -->
<!ELEMENT ALIA ( #PCDATA | VENDOR )* >
<!ATTLIST ALIA REF IDREF #REQUIRED >

<!-- Ancestors -->
<!ELEMENT ANCE ( #PCDATA | VENDOR )* >

<!-- Ancestor interest -->
<!ELEMENT ANCI ( #PCDATA | VENDOR )* >
<!ATTLIST ANCI HREF IDREF #REQUIRED >

<!-- Associates -->
<!ELEMENT ASSO ( #PCDATA | RELA )* >
<!ATTLIST ASSO HREF IDREF #REQUIRED >

<!-- Author -->
<!ELEMENT AUTH ( %text; | VENDOR )* >

<!-- Baptism performed by LDS Church -->
<!ELEMENT BAPL %ldsordinance; >

<!-- Binary Object -->
<!ELEMENT BLOB ( %text; | VENDOR )* >

<!-- Call number (in a library or archive) -->
<!ELEMENT CALN ( #PCDATA | MEDI | VENDOR )* >

<!-- Cause (of an event, e.g. death) -->
<!ELEMENT CAUS ( #PCDATA | VENDOR )* >

<!-- Change, correction, or modification of data -->
<!ELEMENT CHAN ( #PCDATA | DATE | TIME | NOTE | VENDOR )* >

<!-- Character set -->
<!ELEMENT CHAR ( #PCDATA | VERS | VENDOR )* >

<!-- Child (natural, adopted, or sealed) -->
<!ELEMENT CHIL ( #PCDATA | VENDOR )* >
<!ATTLIST CHIL REF IDREF #REQUIRED >

<!-- City (municipal jurisdiction) -->
<!ELEMENT CITY ( #PCDATA | VENDOR )* >

<!-- Line Concatenation -->
<!ELEMENT CC EMPTY >

<!-- LDS Confirmation -->
<!ELEMENT CONL %ldsordinance; >

<!-- Line Break -->
<!ELEMENT BR EMPTY >

<!-- Copyright assertion -->
<!ELEMENT COPR ( #PCDATA | VENDOR )* >

<!-- Name of a corporation (institution, company, etc) -->
<!ELEMENT CORP ( #PCDATA | ADDR | PHON | VENDOR )* >

<!-- Country (name or code) -->
<!ELEMENT CTRY ( #PCDATA | VENDOR )* >

<!-- Information about digitally-stored data -->
<!ELEMENT DATA ( #PCDATA | DATE | TEXT | EVEN | AGNC | NOTE | VENDOR )* >

<!-- Date or range of dates -->
<!ELEMENT DATE ( #PCDATA | TIME | VENDOR )* >

<!-- Descendants -->
<!ELEMENT DESC ( #PCDATA | VENDOR )* >

<!-- Descendant Interest -->
<!ELEMENT DESI ( #PCDATA | SOUR | OBJE | NOTE | VENDOR )* >
<!ATTLIST DESI REF IDREF #REQUIRED >

<!-- Destination system for data transmission -->
<!ELEMENT DEST ( #PCDATA | VENDOR )* >


<!-- Religious Endowment -->
<!ELEMENT ENDL %ldsordinance; >

<!-- Event or attribute associated with an individual or family -->
<!ELEMENT EVEN ( #PCDATA | ROLE | TYPE | DATE | PLAC | ADDR | PHON | AGE | AGNC | CAUS | SOUR |
		 OBJE | NOTE | FAMC | HUSB-DETL | WIFE-DETL | VENDOR )* >
<!ATTLIST EVEN EV ( 
	BIRT | CHR | DEAT | BURI | CREM | ADOP | BAPM | BARM | BASM
 	| BLES | CHRA | CONF | FCOM | ORDN | NATU | EMIG | IMMI | CENS | PROB
	| WILL | GRAD | RETI
 	| CAST | DSCR | EDUC | IDNO | NATI | NCHI | NMR | OCCU | PROP | RELI 
 	| RESI | SSN | TITL
 	| ANUL | DIV | DIVF | ENGA | MARR | MARB | MARC | MARL | MARS ) #IMPLIED >

<!-- Family child -->
<!ELEMENT FAMC ( #PCDATA | ADOP | PEDI | NOTE | VENDOR )* >
<!ATTLIST FAMC REF IDREF #REQUIRED >

<!-- Family File -->
<!ELEMENT FAMF ( #PCDATA | VENDOR )* >

<!-- Family Spouse -->
<!ELEMENT FAMS ( #PCDATA | NOTE | VENDOR )* >
<!ATTLIST FAMS REF IDREF #REQUIRED >

<!-- File name containing digital data -->
<!ELEMENT FILE ( #PCDATA | VENDOR )* >

<!-- Format of digital data -->
<!ELEMENT FORM ( #PCDATA | VENDOR )* >

<!-- GEDCOM profile details -->
<!ELEMENT GEDC ( #PCDATA | VERS | FORM | VENDOR )* >

<!-- Given name -->
<!ELEMENT GIVN ( #PCDATA | VENDOR )* >

<!-- Husband (or the man of a couple) -->
<!ELEMENT HUSB ( #PCDATA | VENDOR )* >
<!ATTLIST HUSB REF IDREF #IMPLIED >

<!-- Husband details (for a family event) -->
<!ELEMENT HUSB-DETL ( AGE | VENDOR )* >

<!-- (Human) language -->
<!ELEMENT LANG ( #PCDATA | VENDOR )* >

<!-- Medium in which information is stored (e.g. microfilm) -->
<!ELEMENT MEDI ( #PCDATA | VENDOR )* >

<!-- Name -->
<!ELEMENT NAME ( #PCDATA | S | NPFX | GIVN | NICK | SPFX | SURN | NSFX | SOUR | VENDOR )* >

<!-- Nickname -->
<!ELEMENT NICK ( #PCDATA | VENDOR )* >

<!-- Name prefix -->
<!ELEMENT NPFX ( #PCDATA | VENDOR )* >

<!-- Name suffix -->
<!ELEMENT NSFX ( #PCDATA | VENDOR )* >

<!-- Multimedia Link -->
<!ELEMENT OBJE ( FORM | TITL | FILE | NOTE | VENDOR )* >
<!ATTLIST OBJE REF IDREF #REQUIRED > 

<!-- Religious Ordinance -->
<!ELEMENT ORDI ( #PCDATA | VENDOR )* >

<!-- Page number of information within a referenced work -->
<!ELEMENT PAGE ( #PCDATA | VENDOR )* >

<!-- Pedigree -->
<!ELEMENT PEDI ( #PCDATA | VENDOR )* >

<!-- Phone number -->
<!ELEMENT PHON ( #PCDATA | VENDOR )* >

<!-- Place -->
<!ELEMENT PLAC ( #PCDATA | FORM | SOUR | VENDOR )* >

<!-- Postal code -->
<!ELEMENT POST ( #PCDATA | VENDOR )* >

<!-- Publication -->
<!ELEMENT PUBL ( %text; | VENDOR )* >

<!-- Quality of data -->
<!ELEMENT QUAY ( #PCDATA | VENDOR )* >

<!-- Reference used to locate an item of information -->
<!ELEMENT REFN ( #PCDATA | TYPE | VENDOR )* >

<!-- General Relationship -->
<!ELEMENT RELA ( #PCDATA | VENDOR )* >

<!-- Source Repository Citation -->
<!ELEMENT REPO ( NOTE | CALN | VENDOR )* >
<!ATTLIST REPO REF IDREF #REQUIRED >

<!-- Restriction (on use of information) -->
<!ELEMENT RESN ( #PCDATA | VENDOR )* >

<!-- Record number within a (manual) file -->
<!ELEMENT RFN ( #PCDATA | VENDOR )* >

<!-- Record ID Number (within an automated file) -->
<!ELEMENT RIN ( #PCDATA | VENDOR )* >

<!-- Role of an individual in respect to an event -->
<!ELEMENT ROLE ( #PCDATA | VENDOR )* >

<!-- Sex (male or female) -->
<!ELEMENT SEX ( #PCDATA | VENDOR )* >

<!-- LDS child sealing event -->
<!ELEMENT SLGS %ldsordinance; >

<!-- LDS spouse sealing event -->
<!ELEMENT SLGC %ldsordinance; >

<!-- Surname part of name (from /XXX/ in GEDCOM) -->
<!ELEMENT S ( #PCDATA | VENDOR )* >

<!-- Source citation -->
<!ELEMENT SOUR ( %text; | PAGE | EVEN | DATA | QUAY | NOTE
    | OBJE | TEXT | VENDOR )* >
<!ATTLIST SOUR REF IDREF #IMPLIED > 

<!-- Surname prefix -->
<!ELEMENT SPFX ( #PCDATA | VENDOR )* >

<!-- State (division of a country) -->
<!ELEMENT STAE ( #PCDATA | VENDOR )* >

<!-- State or condition (e.g. of a manuscript); Status of LDS sealing events -->
<!ELEMENT STAT ( #PCDATA | VENDOR )* >

<!-- Submitter reference -->
<!ELEMENT SUBM ( #PCDATA | VENDOR )* >
<!ATTLIST SUBM REF IDREF #REQUIRED > 

<!-- Submission reference -->
<!ELEMENT SUBN ( #PCDATA | VENDOR )* >
<!ATTLIST SUBN REF IDREF #REQUIRED >

<!-- Surname -->
<!ELEMENT SURN ( #PCDATA | VENDOR )* >

<!-- LDS Temple -->
<!ELEMENT TEMP ( #PCDATA | VENDOR )* >

<!-- Text transcribed from a source document -->
<!ELEMENT TEXT ( %text; | VENDOR )* >

<!-- Time of day -->
<!ELEMENT TIME ( #PCDATA | VENDOR )* >

<!-- Title of a publication -->
<!ELEMENT TITL ( %text; | VENDOR )* >

<!-- Type, e.g. of an event -->
<!ELEMENT TYPE ( #PCDATA | VENDOR )* >

<!-- Vendor extension -->
<!ELEMENT VENDOR ( %text; | VENDOR )* >
<!ATTLIST VENDOR TAG CDATA #REQUIRED >
<!ATTLIST VENDOR ID ID #IMPLIED >
<!ATTLIST VENDOR REF IDREF #IMPLIED >

<!-- Version -->
<!ELEMENT VERS ( #PCDATA | VENDOR )* >

<!-- Wife (or the woman of a couple) -->
<!ELEMENT WIFE ( #PCDATA | VENDOR )* >
<!ATTLIST WIFE REF IDREF #IMPLIED >

<!-- Wife details (for a family event) -->
<!ELEMENT WIFE-DETL ( AGE | VENDOR )* >

<!ELEMENT ADOP (#PCDATA | VENDOR)*>
<!ELEMENT NCHI (#PCDATA | VENDOR)*>
